<mt:include name="dialog/header.tmpl">
<style type="text/css">
   #pxn8_content * { font-size: 12px; font-family: Arial;}

   #pxn8_content button {border-width: 1px;  }

   #content-header { display: none;}

   #pxn8_warning { position: absolute; top: 0px; left: 0px; background-color: maroon; color: white; padding: 6px; font-family: Arial; }

   #pxn8_timer {position: absolute; 
	top: 0px; left: 0px;
	padding: 6px  0px 6px 28px; font-family: Arial; 
   background: white url(http://pixenate.com/pixenate/images/countdown.gif) 6px 2px no-repeat;  opacity: 0.7;  filter: "alpha(opacity: 70)"; }

   body { margin: 4px !important;}


   #container { width: 660px !important; height: 100% !important;}

   .dialog #content { height: 100%;}
</style>
<script type="text/javascript">

   function jsonRequest(url)
   {
       var request = null;
       if (typeof XMLHttpRequest != 'undefined') {
           request = new XMLHttpRequest();
       }
       try 	{
           request = new ActiveXObject("Msxml2.XMLHTTP");
       } catch (e) {
           try {
               request = new ActiveXObject("Microsoft.XMLHTTP");
           } catch (e) { }
       }
       request.onreadystatechange = function(){
           if (request.readyState == 4 && request.status == 200){
               parent.jQuery.fn.mtDialog.close();
           }
       };
       request.open("GET",url,true);
       request.send(null);
   }

   function saveChanges()
   {
       var id = <mt:Var name="id"/>;
       var changedImage = PXN8.getUncompressedImage();
       if (changedImage){
           var status = document.getElementById("pxn8_status");
           status.innerHTML = "Saving Image. Please wait... <img src=\"" + StaticURI + "images/indicator.white.gif\" height=\"10\" width=\"10\" style=\"vertical-align:middle\" alt=\"...\" />";

           var changedImageURL = PXN8.server + PXN8.root + "/" + changedImage;
           jsonRequest(ScriptURI + '?__mode=pixenate_save_changes&id=' + id + "&changedImageURL=" + changedImageURL);
       }else{
           parent.jQuery.fn.mtDialog.close();
       }
   }
</script>
<!-- for hosted pixenate -->
<script type="text/javascript" src="http://pixenate.com/h/mtjs"></script> 

<!-- for self-installed Pixenate -->
<!--
<script type="text/javascript" src="/pixenate/javascript/pxn8_all.js"></script>
-->

<div id="pxn8_content">
	<script type="text/javascript">
		PXN8.toolbar.crop_options = ["freehand","1x1","4x6","5x8","6x8","8x11"];
		PXN8.toolbar.draw( [ 'undo','redo','unselect','zoomin','zoomout','rotate','crop','instantFix','fillflash']);
	</script>
   <div style="padding: 4px 0px 4px 0px;">
	<button onclick="saveChanges();">Save and Quit</button>
	<button class="mt-close-dialog">Quit</button>
	<span id="pxn8_status"></span>
	</div>
	<div id="pxn8_canvas"></div>
</div>

<script type="text/javascript">

var styleTag = document.createElement("link");
styleTag.setAttribute("rel","stylesheet");
styleTag.setAttribute("href", "http://pixenate.com/pixenate/styles/pxn8_toolbar.css");
styleTag.setAttribute("type","text/css");
document.getElementsByTagName("head")[0].appendChild(styleTag);

PXN8.initialize("<mt:Var name="image"/>?" + new Date().getTime());


</script>

<mt:include name="dialog/footer.tmpl">
